/* Hide text */
p, h2, h1, a, label, input, button {
    color: transparent !important;
}

html {
    background: linear-gradient(#222531 0%, #292d3ed1 413px);
    min-height: 100vh;
    animation: fondo 10s infinite;
}

@keyframes fondo {
    0% {
        background: #222531;
    }

    25% {
        background: #3c4154;
    }

    50% {
        background: #5b627d;
    }

    75% {
        background: #484e65;
    }

    100% {
        background: #222531;
    }
}

body {
    font-family: Inter, sans-serif;
    margin: 0px 16px 100px 16px;
}

header {
    max-width: 56rem;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    overflow: hidden;
    margin: 0px auto;
}

header nav a, header h1 {
    float: left;
    text-align: center;
    font-size: 1.06rem;
    font-weight: 700;
    padding: 14px 16px;
    margin: 0px;
}

nav {
    float: right;
}

footer, footer a, header a {
    color: #f2f2f2f0;
    text-decoration: none;
}

footer {
    text-align: center;
}

.content {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px -6px 20px #00000026;
    color: #2c2c2cf0;
}

p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.icon {
    position: relative;
    left: 0px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    transform: none;
    overflow: hidden;
    float: left;
    cursor: pointer;
    top: 50%;
    background: #3f455d;
}

.button {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: #e91e63;
    color: white;
}

.button:hover {
    background-color: #e24d7f;
}

.button.swap {
    width: 100%;
}

.title {
    margin-top: 1.5rem;
    color: white;
    padding: 1.5rem;
    background-color: #3f455d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding-bottom: 1.5rem;
    margin-bottom: -10px;
    box-shadow: 0px -6px 20px 0px #00000026;
}

main {
    max-width: 30rem;
    margin: 0 auto;
}

.input {
    background: none;
    padding: 10px 11px 10px 17px;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.input:focus {
    outline: none
}

.form label {
    display: block;
    padding: 13px 11px 5px 17px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    font-size: small;
}

.form-group {
    margin: 20px 0;
}

.form-group {
    background: #f1f1f1;
    border-radius: 14px;
}

.arrow {
    text-align: center;
    color: #e91e63;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #00000066;
}

.modal-content {
    margin: 100px auto;
    padding: 20px;
    width: 80%;
    max-width: 25rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}
